h1{
    color:blue
}

h4{
    color:blueviolet
    font-size: 1em
}

p{
    color:brown
}
/*
teachings and seafood
*/

p{
    color: purple;
    background-color: orange;  
    font-family: 'Courier New', Courier, monospace;   
}

    
/* color for maclasse */
.maclasse{
    color: crimson;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
    text-align: center;
    text-align: left;
    text-align: right;
    text-align: justify
 }   
#Ensigenement{
font-size: 20px;
}

p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1{
    font-size: 3.5em;
    color:#a5b4fc ;
    font-family: Montserrat;
}
p{
    font-size: 1.1em;
    font-family:Manrope;
    color: magenta;
    font-size: 20px;
    padding-left: 60px;
    padding-left: 20px;
    font-weight: bold;

}
li{
    font-size: 1em;
    font-family: manrope;
    color: forestgreen;
}

.mabordure {
    padding: 30px;
    background-color: indigo;
    border: solid red;
    border: 25px #EB5353 solid;
    border-right: 20px #eb5398 solid;
    border-bottom: 25px goldenrod solid;
    border-left: 5px yellowgreen solid;
    border-radius: 10px 10px 10px 10px 10px;
}